span.glyphicon-eye-open, span.glyphicon-remove, span.glyphicon-random, span.glyphicon-sort, span.glyphicon-th {
    font-size: 4em;
}

button.btn-lg {
    margin-right: 40px;
}

.modal-body {
    font-size: 2em;
}

.btinfo-hidden {
    
}